body {
    font-family: "Ubuntu";
}

#leftContainer {
    position: relative;
    float: left;
    width: 240px;
}

#rightContainer {
    position: relative;
    float: left;
    left: 0px;
    width: 225px;
}

#rightmostContainer {
    position: relative;
    float: left;
    left: 10px;
}

#console {
    position: absolute;
    width: 650px;
    height: 500px;
    background-color: #151515;
    color: #7AFA4E;
    border-radius: 10px;
    font-size: 12px;
    font-family: courier;
    overflow: auto;
}

#flashLabel {
    position: relative;
    width: 5px;
    height: 25px;
    color: #7AFA4E;
    border-radius: 5px;
}

#consoleOutput {
    word-wrap: break-word;
}

#consoleDescription {
    position: absolute;
    top: 550px;
    left: 480px;
    width: 650px;
}

.consoleLabel {
    background-color: #DBDBDB;
    width: 650px;
    height: 25px;
    border-radius: 5px;
    text-align: center;
    color: #151515;
    font-size: 16px;
}


form.green {
    width: 150px;
    background-color: #A7DDB1;
    border-radius: 5px;
}

label, input {
    display: block;
}

label {
    margin-bottom: 15px;
}

h1 {
    display: inline;
    color: #2A2251;
    font-size: 18px;
}

h1.title {
    display: block;
    text-decoration: underline;
    color: #2A2251;
    font-size: 22px;
}

#controls {
    position: relative;
    float: right;
    right: 350px;
    border: 2px solid black;
    border-radius: 5px;
    width: 150px;
    height: 500px;
    background-color: #F6F9FA;
}

#controls h4 {
    text-align: center;
    text-decoration: underline;
}

#controls input {
    font-size: 5px;
    display: inline;
}